body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #2c3e50;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #7f8c8d;
}

/* Social Share Buttons */
.social-share {
    text-align: center;
    margin: 20px 0;
}

.social-share .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.social-share .fa:hover {
    opacity: 0.7;
}

.social-share .fa-facebook {
    background: #3B5998;
    color: white;
}

.social-share .fa-twitter {
    background: #55ACEE;
    color: white;
}

.social-share .fa-linkedin {
    background: #007bb5;
    color: white;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.8em;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.job {
    margin-bottom: 10px;
}

.job h3 {
    margin: 0;
    font-size: 1.5em;
    color: #2980b9;
}

.job p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #7f8c8d;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}
